h1{
color:white;
background:black;
text-align:center;
}
h2{
background:green;
color:white;
text-align:right;
}
h3{
background:yellow;
color:red;
text-align:left;
font-size:25px;
}
h4{
background:aqua;
color:red;
text-align:center;
}
h5{
font-size:25px;
color:green;
background:gray;
text-align:right;
}
h6{
font-size:35px;
color:white;
background:yellow;
text-align:center;
}