h1 {background: red; color: darkred; text-align:center; font-size: 36px; }
h2 {background: green; color: red; font-size: 32px; }
h3 {background: yellowgreen; color: turquoise; font-size: 28px; }
h4 {background: cyan; color: cyan; font-size: 24px; }
h5 {background: maroon; text-align:center; color: mediumslateblue; font-size: 20px; }
h6 {background: yellow; color: lightpink; font-size: 16px; }